@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto+Mono');
body {
	padding-top: 38px;
}
#info {
	display: none;
}

#search{
	width: 50%;
}

.w3-top{
	margin:0;
}

.input{
	border-radius: 32px;
	border:none;
	margin-top: 0.5em;

}

.padding{
	padding: 0;
}

.slide{
	/*width: 100%;*/
	height: 40em;
}

.imagenes{
	width: 100%;
	height: 20em;
}

.title {
	font-family: Righteous;
	color: #F2F2F2;
	text-shadow: 2px 2px #848484;
	font-size: 2em
}
@media only screen and (max-width: 767px){
  #title{
    display: none;
  }
}

.titles {
	font-family: Roboto Mono;
	color:#E6E6E6;
}

.tbody{
	color:#E6E6E6;
}

.fondo {
	 background: url("../img/fondo.jpg") no-repeat center center fixed;

}

.contenedorCss {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  /*height: auto;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.contenedorCss:hover .image {
  opacity: 0.8;
  border:solid #64FE2E;
  /*-webkit-filter:contrast(10%);
  filter:contrast(10%);*/
}

.contenedorCss:hover .middle {
  opacity: 1;
}

.text {
  /*background-color: #4CAF50*/;
  color: #40FF00;
  font-size: 16px;
  /*padding: 16px 32px;*/
}